<script src="__JS__/vendor/jquery-1.12.4.min.js"></script>
<!--modernizr js-->
<script src="__JS__/vendor/modernizr-3.6.0.min.js"></script>
<!-- bootstrap js -->
<script src="__JS__/bootstrap/js/bootstrap.min.js"></script>
<!-- Popper js -->
<script src="__JS__/bootstrap/js/popper.min.js"></script>
<!-- slick slider js -->
<script src="__JS__/slick.min.js"></script>
<!-- magnific popup js -->
<script src="__JS__/jquery.magnific-popup.min.js"></script>
<!-- countdown js -->
<script src="__JS__/jquery.countdown.min.js"></script>
<!-- jquery ui js -->
<script src="__JS__/jquery-ui.min.js"></script>
<!-- nice_select js -->
<script src="__JS__/jquery.nice-select.min.js"></script>
<!-- sidebar_menu js -->
<script src="__JS__/sidebar-menu.js"></script>
<!-- main js -->
<script src="__JS__/main.js"></script>