<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="__CSS__/main.css" />
    <style>
        .top_right{
            float: right;
            padding: 10px;
            position: relative;
            top:-130px;
            right:20px;
            z-index: 1001;
        }
    </style>
</head>
<body class="homepage is-preload">
    <div id="page-wrapper">
        <!-- Nav -->
            <nav id="nav">
                <ul>
                    <li data-active="index"><a href="{:U('Home/Index/index')}">首页</a></li>
                    <!-- <li data-active="questionList"><a href="{:U('Home/Index/questionList')}">问题列表</a> -->
                        <!-- <if condition="$userInfo.iType GT 0 || $userInfo.iIsAdmin EQ 1">
                            <ul class="" style="user-select: none; display: none; position: absolute;text-align: center;">
                                <li style="white-space: nowrap;"><a href="{:U('Home/Index/publish')}" style="display: block;">发布问题</a></li>
                            </ul>
                        </if> -->
                    </li>
                    <if condition="$userInfo.iType GT 0 || $userInfo.iIsAdmin EQ 1">
                        <li data-active="studentList"><a href="{:U('Home/Index/studentReachApprise')}">学生达成评价</a></li>
                        <else/>
                        <li data-active="contactTeacher"><a href="{:U('Home/Index/contactTeacher')}">联系教师</a></li>
                    </if>
                    <li data-active="personInfo"><a href="{:U('Home/Index/personInfo')}">个人中心</a></li>
                    <if condition="$userInfo.iIsAdmin EQ 1">
                        <li data-active="manage"><a href="{:U('Home/Index/manage')}">管理</a></li>
                    </if>
                </ul>
                <div class="top_right">
                    <if condition="$userInfo.id GT 0">
                        <p>{$userInfo.username_show}{$userInfo.type_info}，欢迎您/<a href="{:U("Home/Member/logout")}">退出</a></p>
                    <else/>
                        <span><a href="#">登录</a>/<a href="#">注册</a>{$userInfo.username}</span>
                    </if>
                </div>
            </nav>
    </div>

    <script src="__JS__/jquery.min.js"></script>
    <script src="__JS__/jquery.dropotron.min.js"></script>
    <script src="__JS__/jquery.scrolly.min.js"></script>
    <script src="__JS__/browser.min.js"></script>
    <script src="__JS__/breakpoints.min.js"></script>
    <script src="__JS__/util.js"></script>
    <script src="__JS__/main.js"></script>
</body>
<script>
    var pageType = "{$pageType}";
    var navItems = document.querySelectorAll('nav li');
    // 遍历所有选项
    navItems.forEach(function(item) {
    // 如果选项的 data-active 值与当前页面标识相同，则设置为选中状态
    if (item.dataset.active === pageType) {
        item.classList.add('current');
    } else {
        item.classList.remove('current');
    }
    });
</script>
</html>