<!DOCTYPE html>
<html>
<head>
    <include file="./Application/Home/View/default/Public/nav.html" />
    <include file="./Application/Home/View/default/Public/footer.html" />
	<title>首页</title>
    <!-- all meta -->
    <meta charset="UTF-8">
</head>
<body>
		<!-- Start course_style_v1 section -->
		<section class="course_style_v1 gray_bg section_padding">
			<div class="container">
				<div class="row justify-content-center">
					<div class="col-lg-8">
						<div class="section_title text-center">
							<h2>Explore our popular courses</h2>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eius tempor<br>incididunt ut labore et dolore magna aliqua</p>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-4 col-md-6 col-sm-12">
						<div class="course_box">
							<div class="domar_img">
								<img src="assets/images/course_1.jpg" class="img-fluid" alt="">
								<div class="overlay_content">
									<a href="#" class="cat_btn cat_1">It & Software</a>
								</div>
							</div>
							<div class="domar_info">
								<div class="post_title">
									<h3><a href="#">The Complete Salesforce to Classic Administrator</a></h3>
								</div>
								<div class="post_meta">
									<div class="top_info">
										<a href="#" class="author">Jake Steven</a>
										<p class="price"><span class="price">$199</span><span class="off_price">120</span></p>
									</div>
									<div class="bottom_info">
										<ul>
											<li class="star"></li>
											<li class="star"></li>
											<li class="star"></li>
											<li class="star"></li>
											<li class="star"></li>
											<li class="enroll"><span>Enroll: 3</span></li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-6 col-sm-12">
						<div class="course_box">
							<div class="domar_img">
								<img src="assets/images/course_2.jpg" class="img-fluid" alt="">
								<div class="overlay_content">
									<a href="#" class="cat_btn cat_2">It & Software</a>
								</div>
							</div>
							<div class="domar_info">
								<div class="post_title">
									<h3><a href="#">The Complete Salesforce to Classic Administrator</a></h3>
								</div>
								<div class="post_meta">
									<div class="top_info">
										<a href="#" class="author">Jake Steven</a>
										<p class="price"><span class="price">$199</span><span class="off_price">120</span></p>
									</div>
									<div class="bottom_info">
										<ul>
											<li class="star"></li>
											<li class="star"></li>
											<li class="star"></li>
											<li class="star"></li>
											<li class="star"></li>
											<li class="enroll"><span>Enroll: 3</span></li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-6 col-sm-12">
						<div class="course_box">
							<div class="domar_img">
								<img src="assets/images/course_3.jpg" class="img-fluid" alt="">
								<div class="overlay_content">
									<a href="#" class="cat_btn cat_3">It & Software</a>
								</div>
							</div>
							<div class="domar_info">
								<div class="post_title">
									<h3><a href="#">The Complete Salesforce to Classic Administrator</a></h3>
								</div>
								<div class="post_meta">
									<div class="top_info">
										<a href="#" class="author">Jake Steven</a>
										<p class="price"><span class="price">$199</span><span class="off_price">120</span></p>
									</div>
									<div class="bottom_info">
										<ul>
											<li class="star"></li>
											<li class="star"></li>
											<li class="star"></li>
											<li class="star"></li>
											<li class="star"></li>
											<li class="enroll"><span>Enroll: 3</span></li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-6 col-sm-12">
						<div class="course_box">
							<div class="domar_img">
								<img src="assets/images/course_4.jpg" class="img-fluid" alt="">
								<div class="overlay_content">
									<a href="#" class="cat_btn cat_45">It & Software</a>
								</div>
							</div>
							<div class="domar_info">
								<div class="post_title">
									<h3><a href="#">The Complete Salesforce to Classic Administrator</a></h3>
								</div>
								<div class="post_meta">
									<div class="top_info">
										<a href="#" class="author">Jake Steven</a>
										<p class="price"><span class="price">$199</span><span class="off_price">120</span></p>
									</div>
									<div class="bottom_info">
										<ul>
											<li class="star"></li>
											<li class="star"></li>
											<li class="star"></li>
											<li class="star"></li>
											<li class="star"></li>
											<li class="enroll"><span>Enroll: 3</span></li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-6 col-sm-12">
						<div class="course_box">
							<div class="domar_img">
								<img src="assets/images/course_5.jpg" class="img-fluid" alt="">
								<div class="overlay_content">
									<a href="#" class="cat_btn cat_5">It & Software</a>
								</div>
							</div>
							<div class="domar_info">
								<div class="post_title">
									<h3><a href="#">The Complete Salesforce to Classic Administrator</a></h3>
								</div>
								<div class="post_meta">
									<div class="top_info">
										<a href="#" class="author">Jake Steven</a>
										<p class="price"><span class="price">$199</span><span class="off_price">120</span></p>
									</div>
									<div class="bottom_info">
										<ul>
											<li class="star"></li>
											<li class="star"></li>
											<li class="star"></li>
											<li class="star"></li>
											<li class="star"></li>
											<li class="enroll"><span>Enroll: 3</span></li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-6 col-sm-12">
						<div class="course_box">
							<div class="domar_img">
								<img src="assets/images/course_6.jpg" class="img-fluid" alt="">
								<div class="overlay_content">
									<a href="#" class="cat_btn cat_6">It & Software</a>
								</div>
							</div>
							<div class="domar_info">
								<div class="post_title">
									<h3><a href="#">The Complete Salesforce to Classic Administrator</a></h3>
								</div>
								<div class="post_meta">
									<div class="top_info">
										<a href="#" class="author">Jake Steven</a>
										<p class="price"><span class="price">$199</span><span class="off_price">120</span></p>
									</div>
									<div class="bottom_info">
										<ul>
											<li class="star"></li>
											<li class="star"></li>
											<li class="star"></li>
											<li class="star"></li>
											<li class="star"></li>
											<li class="enroll"><span>Enroll: 3</span></li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section><!-- End course_style_v1 section -->
        <script src="__JS__/vendor/jquery-1.12.4.min.js"></script>
        <!--modernizr js-->
        <script src="__JS__/vendor/modernizr-3.6.0.min.js"></script>
	    <!-- bootstrap js -->
	    <script src="__JS__/bootstrap/js/bootstrap.min.js"></script>
	    <!-- Popper js -->
	    <script src="__JS__/bootstrap/js/popper.min.js"></script>
	    <!-- slick slider js -->
	    <script src="__JS__/slick.min.js"></script>
	    <!-- magnific popup js -->
	    <script src="__JS__/jquery.magnific-popup.min.js"></script>
	    <!-- countdown js -->
	    <script src="__JS__/jquery.countdown.min.js"></script>
	    <!-- jquery ui js -->
	    <script src="__JS__/jquery-ui.min.js"></script>
	    <!-- nice_select js -->
	    <script src="__JS__/jquery.nice-select.min.js"></script>
	    <!-- sidebar_menu js -->
	    <script src="__JS__/sidebar-menu.js"></script>
	    <!-- main js -->
	    <script src="__JS__/main.js"></script>
</body>
</html>
