<!DOCTYPE HTML>
<html>
<head>
    <include file="./Application/Home/View/default/Public/nav.html" />
	<title>个人中心</title>
    <!-- all meta -->
    <meta charset="UTF-8">
    <style>
      .section_padding{
        padding:30px;
      }
    </style>
</head>
<body>
  <section id="main">
    <div class="container d-flex justify-content-center" style="max-width: 800px">
      <h3>个人信息：</h3>
        <form action="{:U("Home/Index/savePersonInfo")}">
          <div class="form-group">
            <label for="inputName">用户名</label>
            <input type="text" class="form-control" value="zwc" id="inputName" readonly="readonly">
          </div>
          <div class="form-group">
            <label for="inputGroup">组号</label>
            <input type="text" class="form-control" id="inputGroup" value="{$userInfo.iGroupId}" placeholder="" readonly="readonly">
          </div>
          <div class="form-group">
            <label for="inputPosition">是否为组长</label>
            <input type="text" class="form-control" id="inputPosition" value="{$userInfo.iIsHeadman}" readonly="readonly">
          </div>
          <div class="form-group">
            <label for="inputLikes">兴趣爱好</label>
            <div class="col-lg-12">
                <textarea class="form_control" id="inputLikes" placeholder="" name="likes">{$userInfo.sLike}</textarea>
            </div>
          </div>
          <div class="form-group">
            <label for="inputSkill">个人特长</label>
            <div class="col-lg-12">
                <textarea class="form_control" id="inputSkill" placeholder="" name="skills">{$userInfo.sSkill}</textarea>
            </div>
          </div>
          <button type="submit" disabled id="save_btn" class="btn btn-primary" style="margin-top:10px">保存</button>
        </form>
      </div>
</body>

<script>
  window.param_warning = 'likes='+"{$userInfo.sLike}"+'&skill='+"{$userInfo.sSkill}";
  function getParamForWarning() {
    var param = '';
    param += 'likes='+$("#inputLikes").val();
    param += '&skill='+$("#inputSkill").val();
    return param;
  }


    window.temp_time_setInterval_warning = setInterval('attemptChangeWarning();',500);
    function attemptChangeWarning() {
        var param = getParamForWarning();

        if(window.param_warning === param) {
          $('#save_btn').addClass('keep_btn_grey').attr('disabled','disabled');
        }else{
          $('#save_btn').removeAttr('disabled').removeClass('keep_btn_grey');
        }
    }


</script>
</html>