
<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<title>个人信息</title>
	<link href="__CSS__/boot.css" rel="stylesheet">
</head>
<body class="left">
  <div class="info_list">
    <p><span class="" data-rid="">组号：{$userInfo.iGroupId}</span></p>
    <p><span class="" data-rid="">是否为组长：{$userInfo.iIsHeadman}</span></p>
    <p><span class="" data-rid="">兴趣爱好：{$userInfo.sLike}</span></p>
    <p><span class="" data-rid="">特长：{$userInfo.sSkill}</span></p>
  </div>
</body>
</html>