<!DOCTYPE HTML>
<html>
<head>
    <include file="./Application/Home/View/default/Public/nav.html" />
	<title>问题发布</title>
    <!-- all meta -->
    <meta charset="UTF-8">
    <style>
      .section_padding{
        padding:30px;
      }
      form label{
        margin: 0;
      }
      .form-group{
        margin-bottom: 20px;
      }
    </style>
</head>
<body>
  <section id="main">
    <div class="container d-flex justify-content-center" style="max-width: 800px">
      <h3>问题发布：</h3>
        <form action="{:U("Home/Index/questionPublish")}">
          <div class="form-group">
            <label for="inputTitle">标题</label>
            <input type="text" class="form-control" id="inputTitle" value="" name="title" required>
          </div>
          <div class="form-group">
            <label for="inputDescribe">详细描述</label>
            <textarea class="form_control" id="inputDescribe" placeholder="" name="describe" required></textarea>
          </div>
          <button type="submit" id="save_btn" class="btn btn-primary" style="margin-top:10px">发布</button>
        </form>
      </div>
</body>

</html>