<!DOCTYPE html>
<head>
    <title>首页</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8" />
    <!-- <link href="__CSS__/font.css" rel="stylesheet"> -->
    <link rel="stylesheet" href="__CSS__/login-style.css" type="text/css" media="all" />
    <!-- <link rel="stylesheet" href="__CSS__/font-awesome.min.css" type="text/css" media="all"> -->
</head>

<body>
    <section class="w3l-hotair-form">
        <h1>学习系统</h1>
        <div class="container">
            <!-- /form -->
            <div class="workinghny-form-grid">
                <div class="main-hotair">
                    <div class="content-wthree">
                        <h2>登录</h2>
                        <p>你的账户</p>
                        <form action="{:U("Home/Member/loginAction")}" method="post">
                            <input type="text" class="username" name="username" placeholder="用户名" required="">
                            <input type="password" class="password" name="password" placeholder="密码" required="">
                            <button class="btn" type="submit">登录</button>
                        </form>
                        <p class="account">没有账户？ <a href="{:U('Home/Member/regist')}">注册</a></p>
                    </div>
                    <div class="w3l_form align-self">
                        <div class="left_grid_info">
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script>
    </script>

</body>

</html>